.logo-cardtopolis {
    height: 70px;
    width: auto;
}



.productos-nuevos {
    text-align: center;

    & h2 {
        padding: 20px 0 0 0;
        color: #28a745;
        font-weight: bold;
        font-family: 'alegreya';
    }
}

.imagenes-carrusel {
height: 650px;
width: auto;
}

