.cuerpo {
  background-color: black;
}

.logo-cardtopolis {
  height: 80px;
  width: auto;
  flex-direction: unset;
}

.bg-menu {
  background-color: black;
}

.boton-war {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
  border-radius: 5px;
  margin-left: -4px;
}

.botones-menu {
  padding-left: 20px;
  text-align: center;
}
.botones-menu .icono {
  padding-left: 5px;
  padding-right: 5px;
  color: #ca5f07;
  font-size: 17px;
}
.botones-menu .icono .dibujo {
  color: #fff;
}

.input-home {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 65%;
}

.input-ml {
  padding-left: 30px;
  padding-right: 20px;
  align-items: center;
}

.imagenes-carrusel {
  width: 500px;
  height: 600px;
  max-width: 100%;
  max-height: 70%;
}

.imagen-efecto {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 10px 10px #ec731e;
  -webkit-box-shadow: 0px 0px 10px 10px #ec731e;
}

.hola-img:hover {
  border-radius: 20%;
  -webkit-border-radius: 20%;
  box-shadow: 0px 0px 10px 10px #ec731e;
  -webkit-box-shadow: 0px 0px 10px 10px #ec731e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.row-ml {
  display: flex;
  align-items: center;
}

.productos-nuevos {
  text-align: center;
}
.productos-nuevos h2 {
  padding: 20px 0 0 0;
  color: #ca5f07;
  font-weight: bold;
  font-family: "Chalkduster";
  text-align: center;
}
.productos-nuevos div {
  margin: 10px 10px 10px 20px;
  padding: 29px;
  border-radius: 6px;
  margin-left: auto;
}

.produc-promo {
  width: 100%;
  height: 700px;
  max-width: 100%;
  max-height: 100%;
}

.jumbo-ml {
  color: #ca5f07;
  background-color: black;
  font-family: "Chalkduster";
  height: 600px;
  width: auto;
  padding-bottom: 700px;
}

footer {
  background-color: #1A1A1A;
  height: 60%;
  color: white;
  padding: 35px;
}

.main1 {
  display: flex;
  margin: 50px auto;
}

a img:hover {
  color: #fff;
}

.redes-footer {
  width: 100%;
  height: auto;
}
.redes-footer img {
  width: 10%;
  height: auto;
}

/*Modal*/

.close {
  color: #fff;
  transform: scale(1.2)
}
.modal-content {
  font-weight: bold;
  background: linear-gradient(to bottom right,#413f3f,#d37305);
}
.form-control {
  margin: 1em 0;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;  
  border-color: #fff;
}
.username, .password {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent;  
}
.form-control::-webkit-input-placeholder {
  color: #eee;  
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid #FAB87F;
  color: #FAB87F;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.login:hover {
  background: #FAB87F;
  color: #fff;
}

/*# sourceMappingURL=output.css.map */
